body {
	background-color: rgba(255, 165, 0, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	justify-content: center;
}

.element{
	background-color: rgba(255,255,255,.33);
	border: 2px solid #ff4d01;
	border-radius: 10px;	
	text-align: center;
}

.textbox{
	background-color: rgba(255,255,255,.33);
	border: 2px solid black;
	border-radius: 8px;
	width: 200px;
}

.spin-button{
	width: 66px;
	height: 66px;
	float: right;
	background-color: rgba(255,255,255,.33);
	border: 2px solid #ff4d01;
	border-radius: 10px;
}

.sebpic{
	position: fixed;
	bottom: 0px;
	z-index: -999;
}

.tasksform{
	width: 200px;
}





