body {
	background-color: rgba(255, 165, 0, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	justify-content: center;
}

.element{
	background-color: rgba(255,255,255,.33);
	border: 2px solid #ff4d01;
	border-radius: 10px;	
	text-align: center;
}

.sebpic{
	position: fixed;
	bottom: 0px;
	z-index: -999;
}





