<head>
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<div class="login">
	<form method="post" action="/login">
	  <input class="element" type="text" id="username" name="username" placeholder="username"><br><br>
	  <input class="element" type="text" id="password" name="password" placeholder="password"><br><br>
	  <input class="element" type="submit" name="login" value="login">
	  <input class="element" type="submit" name="signup" value="signup" style="float: right;">
	</form> 
</div>

<img class="sebpic" src="../static/img/seb.png" alt="sebby">

