<head>
  <link rel="stylesheet" href="../static/css/main.css">
  <script src="../static/js/main.js"></script>
</head>

<body>
	<form class="tasksform" method="post" action="/updatetasks/{{id}}">
		{% for task in tasks %}
			<input class="textbox" type="text" name="task-{{task.id}}" value="{{task.name}}" placeholder="type here" onfocus="showDelete('delete-{{task.id}}')" onfocusout="hideDelete('delete-{{task.id}}')">
			<button hidden class="element" id="delete-{{task.id}}" name="delete" value="{{task.id}}">x</button>
			<br><br>
		{% endfor %}
		<div class="controls">
			<input class="element" name="add" type="submit" value="add">
			<input class="element" name="save" type="submit" value="save">
			<button class="spin-button"  id="spin-button" type="button" onclick="spin()">spin!</button>
		</div>
	</form>
	
	<img class="sebpic" src="../static/img/seb.png" alt="sebby">
</body>
